<input id="filtro" type="text" name="filtro" [(ngModel)]="filtro" placeholder="Buscar prueba" class="filtro rounded-3 ps-4 py-2">


<div class="d-flex justify-content-between mb-5">
  <h1>Pruebas</h1>
@if (role() !== 'tester') {
  <button type="button"
          class="btn btn-nuevo"
          data-bs-toggle="modal"
          data-bs-target="#detalleModal"
          (click)="abrirNuevaPrueba()">
    <i class="bi bi-plus-lg"></i> Nueva prueba
  </button>
}
  
</div>

<app-listado [(itemSelId)]="this.pruebaSelId"
  [cabeceras]="['Título', 'Objetivo', 'Resultado esperado']" 
  [datos]="this.pruebasFiltradas"
  [atributos]="['title', 'objective', 'expected_result']"
  [abrirModal]="true">
</app-listado>

<app-modal-detail [title]="(nuevaPrueba && pruebaSelId === null) ? 'Nuevo caso de prueba' : 'Detalle caso de prueba'">
  @if (nuevaPrueba && pruebaSelId === null) {
    <app-prueba-detail
      [(listado)]="this.pruebas" 
      (listadoChange)="listadoChange($event)" 
      [(pruebaId)]="pruebaSelId" 
      [modo]="'nuevo'">
    </app-prueba-detail>
  } @else if (pruebaSelId) {
      @if (pruebaSelId) {
        <app-prueba-detail 
          [(listado)]="this.pruebas" 
          (listadoChange)="listadoChange($event)" 
          [(pruebaId)]="pruebaSelId" 
          [modo]="'detalle'">
        </app-prueba-detail>
      }
      <!-- @if (pruebaSelId && role() === 'tester') {
        <div class="p-4 text-center">
          <h4>No tienes permisos para editar este caso de prueba</h4>
        </div>
      } -->
  }
</app-modal-detail>
<app-loading [show]="_spinnerService.loading() && loading"></app-loading>
