/* You can add global styles to this file, and also import other style files */

@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';


/********************** GENERAL ****************************************/

:root {
  /**** COLORES ****/
  color-scheme: light dark;
  --light-background: white;
  --dark-background: #282a36;
  --dark-txt-color: black;
  --light-txt-color: white;
  --light-bg-color: #f9f9fd;
  --dark-bg-color:  #3d4051;
  --light-border-color: #c9c7d1;
  --dark-border-color: #c9c7d1;
  --light-accent-bg-color: #c1cbfd;
  --dark-accent-bg-color: #c1cbfd;
  --logo-color: #737ade;
  --logo-accent-color: hsl(236, 62%, 60%);
  --success-color: #00b13b;
  --fail-color: #ff0000;

  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  --bs-body-font-family: Inter, var(--bs-font-sans-serif);
  --bs-body-font-size: 1.6rem;
  height: 100vh;
  max-height: 100vh;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color));
  background-color: light-dark(var(--light-background), var(--dark-background));
}

app-root {
  height: 100vh;
  max-height: 100vh;
}

/* .layout {
  width: 100%;
} */

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%
}

.contenido-ruta {
  height: 100%;
  padding: 3rem;
}

app-home {
  display: flex;
  height: 100%;
  width: 100%;
}

.col {
  margin-bottom: 2rem;
}

.link-dark, .text-dark, .card-body, .list-group-item, .text-muted {
  color: light-dark(var(--dark-txt-color), var(--light-txt-color)) !important;
  text-decoration-color: light-dark(var(--dark-txt-color), var(--light-txt-color)) !important;
}


/***************** NAV **************************/

.nav-pills .nav-link.active {
  color: var(--dark-txt-color) !important;
}

.bg-light, .bg-white {
  background-color: light-dark(var(--light-background), var(--dark-background)) !important;
}

.nav-pills {
  --bs-nav-pills-link-active-bg: light-dark(var(--light-accent-bg-color), var(--dark-accent-bg-color));
}

.nav-link {
  font-size: 2.4rem;
  &:hover {
    background-color: light-dark(var(--light-accent-bg-color), var(--dark-accent-bg-color));
    color: var(--dark-txt-color) !important;
  }
}



/******************** LOADING *************************/

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: light-dark(rgb(255, 255, 255, 0.6), rgb(40, 42, 54, 0.6));
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3000;
}

.inline-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.big-spinner  {
  width: 3rem;
  height: 3rem;
}

.spinner-border {
  border: var(--bs-spinner-border-width) solid var(--logo-color);
  border-right-color: transparent;
}


/********************** LOGIN ******************************/

app-login {
  display: flex;
  height: 100vh;
  position: relative
}

.login-background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  overflow: hidden;
}

/* FONDO OLAS */

.olas {
  position: absolute;
  top: 0;
  left: -200px;
  z-index: -5;
  width: 4000px;
  height: 100vh;
  -webkit-transform: rotate3d(1,1,1,-20deg);
  transform: rotate3d(1,1,1,-20deg);
  background-color: light-dark(var(--light-background), var(--dark-background));
}

.olas .ola {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: deslizamiento 15s linear infinite;
  animation: deslizamiento 15s linear infinite;
  will-change: transform;
  z-index: 3;
}

.olas .ola-2 {
  left: -160px;
  -webkit-animation: marea 15s linear infinite;
  animation: marea 15s linear infinite;
  z-index: -1;
}

.olas .ola-3 {
  left: -60px;
}

.ola-color {
  fill: light-dark(var(--light-accent-bg-color), var(--dark-accent-bg-color));
  fill-opacity: 0.15;
}

.ola-color-2 {
  fill: var(--logo-color);
  fill-opacity: 0.05;
}

pattern {
  overflow: hidden;
}

/* ANIMACIONES OLAS */

@keyframes deslizamiento {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}

@keyframes marea {
  0% {
    -webkit-transform: translate(-1000px, 0px);
    transform: translate(-1000px, 0px);
  }
  50% {
    -webkit-transform: translate(-500px, 50px);
    transform: translate(-500px, 50px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

/* FORMULARIO LOGIN */

#formWrapper {
  border-radius: 4rem;
  corner-shape: squircle;
  backdrop-filter: blur(2rem);
  z-index: 10;
}

#formLogin {
  width: 30rem;
  padding: 0.4rem;

  & i {
    color: var(--dark-txt-color);
  }

  & button {
    background-color: var(--logo-color);
    color: var(--light-txt-color);
    border-radius: 1.2rem;

    &:hover,
    &:active {
      background-color: var(--logo-accent-color) !important;
      color: var(--light-txt-color);
    }
  }

  & span {
    position: absolute;
    margin: 0.5rem 1rem;
  }

  & input {
    padding-left: 4rem;
  }
}

/******************** CONTENEDOR PRINCIPAL ********************/

.contenedor-principal {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
}

/**************************** SIDEBAR ************************/

.sidebar {
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));

  & .dropdown-menu {
    transform: translate(2rem, -3rem) !important;
    cursor: pointer;
    user-select: none;
  }

  & .acciones-sidebar {
    cursor: pointer;
  }
}

app-footer-menu {
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  border-top: .1rem solid light-dark(var(--light-border-color), var(--dark-border-color));

  & .dropdown-menu {
    cursor: pointer;
    user-select: none;
    background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
    color: light-dark(var(--dark-txt-color), var(--light-txt-color));

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    & i:hover {
      background-color: none !important;
    }
  }
}

/******** BREAKPOINTS SIDEBAR / FOOTER MENU ******************/

/***** ESPACIO PARA FOOTER MENU ****/

@media only screen and (max-width: 939px) {

  section {
    /* height: calc(100% + 8rem); */
    flex-grow: 1;
    padding-bottom: 9rem;
  }

  app-calendar {
    background-image: none !important;
  }

  mat-paginator, app-listado {
    padding-bottom: 9rem;
  }

  .hidden-1399-nombre, .hidden-1399-salir {
    display: none;
  }

}

@media only screen and (max-width: 939px) {
  app-sidebar,
  .sidebar {
    display: none;
  }

  app-calendar {
    background-image: none !important;
  }

  app-footer-menu {
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    max-height: 8rem;
    width: 100%;
    justify-content: space-between;

    & ul {
      display: flex;
      justify-content: space-around;
    }
  }

  app-footer-menu > ul > li > a > i {
    font-size: 4rem;
    &:hover {
      background-color: light-dark(var(--light-accent-bg-color), var(--dark-accent-bg-color));
    }
  }

  .hidden-1399-nombre, .hidden-1399-salir {
    display: none;
  }
}

@media only screen and (min-width: 940px) {
  app-sidebar {
    overflow: hidden;
    display: flex;
    min-width: 7.2rem;
  }

  .sidebar {
    display: flex;
    width: 7.2rem;
    padding: 2rem 1.4rem;
  }

  .hidden-1399-nombre, .hidden-1399-salir {
    display: none;
  }

  app-calendar {
    background-image: none !important;
  }

  app-footer-menu {
    display: none;
  }
}

/* Aparece imagen de fondo en Home */
@media only screen and (min-width: 1000px) {

  app-calendar {
    background-image: url(../public/img/home.webp) !important;
  }

}

@media only screen and (min-width: 1400px) {
  app-sidebar {
    overflow: hidden;
    display: flex;
    min-width: 30rem;
  }

  .sidebar {
    display: flex;
    width: 30rem;
    padding: 2rem 1.6rem;
  }

  .hidden-1399-nombre {
    display: inline;
    color: light-dark(var(--dark-txt-color), var(--light-txt-color));
  }

  .hidden-1399-salir {
    display: inline;
  }

  app-calendar {
    background-image: url(../public/img/home.webp) !important;
  }

  app-footer-menu {
    display: none;
  }
}

/**************************** MAIN ************************/

/************** CALENDARIO ********************/


app-calendar {
  width: 100%;
  background-image: url(../public/img/home.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 50%;

  & .cal-dia {
    height: 7rem;      /* altura consistente */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  & .btn-reset {
    background-color: var(--light-accent-bg-color) !important;
    border: none !important;
    padding: 0 !important;
    outline: none !important;
    box-shadow: none !important;
  }

  & .bg-proyecto {
    background-color: var(--light-accent-bg-color) !important; /* azul clarito */
  }

  & .alert-secondary {
    background-color: transparent;
    border-radius: 1rem;
    color: light-dark(var(--dark-txt-color), var(--light-txt-color));
  }
}

.atras {
  cursor: pointer;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  & i {
    font-size: 2.5rem;
    margin-right: 1rem;
  }
}

h1 {
  font-size: 3rem;
}

.list-group-item {
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
}

.contenido-list-item {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* TARJETAS */

.menu-pildoras {
  border: 1px solid light-dark(var(--light-border-color), var(--dark-border-color));
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  border-radius: 2.4rem;

  box-shadow: inset 1px 1px 2px light-dark(var(--light-border-color), var(--dark-border-color));

  /* box-shadow: -1px -2px 3px #ccc; */

  & button {
    border: 1px solid light-dark(var(--light-border-color), var(--dark-border-color));
    border-radius: 2rem !important;
    box-shadow: 1px 1px 2px light-dark(var(--light-border-color), var(--dark-border-color));
  }

  & .active {
    box-shadow: none;
  }
}

/* ESTADISTICAS */

app-estadistica {
  width: 100%;
  height: 100%;
}

canvas {
  max-height: 100%;
}

.card {
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  display: flex;
  flex-direction: column;
}

.stat-title {
  font-size: 1.8rem;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color));
}

.stat-number {
  font-size: 3.6rem;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color));
}

.stat-comment {
  font-size: 1.4rem;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color));
}

.stat-line {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color));
}

.stat-result {
  font-size: 2.4rem;
}

.stat-success {
  color: var(--success-color);
  font-weight: 600;
}
.stat-danger {
  color: #F44336;
  font-weight: 600;
}


.stat-fail {
  color: var(--fail-color);
}

.chart-title {
  font-size: 1.8rem;
  padding: .5rem;
  font-weight: 500;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color));
}

.chart {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.leaderboard > :not(caption) > * > * {
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  color: light-dark(var(--dark-txt-color), var(--light-txt-color));
}

.leaderboard > thead > tr, .leaderboard > thead > th {
  border: 0 !important;
  border-bottom-width: none !important;
}

.leaderboard > tr {
  border-top: 1px solid light-dark(var(--light-border-color), var(--dark-border-color));
}

.leaderboard-1, .leaderboard-2, .leaderboard-3, .leaderboard-4 {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard-1 {
  border: 1px solid #a65f00;
  background-color: #fef9c2;
  color: #a65f00;
}

.leaderboard-2 {
  border: 1px solid #364153;
  background-color: #f3f4f6;
  color: #364153;
}

.leaderboard-3 {
  border: 1px solid #ca3500;
  background-color: #ffedd4;
  color: #ca3500;
}

.leaderboard-4 {
  border: 1px solid var(--logo-color);
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  color: var(--logo-color);
}

#GraficoComparativaProyectos, #GraficoComparativaUsuarios {
  max-height: 30rem;
}

.item-detallado {
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
}

.card h1 {
  font-size: 2.4rem;
  font-weight: bolder;
}

.card-body {
  padding: 1rem 0 !important;
  line-height: 1.2;
}

.icono-proyecto {
  font-size: 7rem;
  margin-right: 1rem;
  color: light-dark(var(--light-border-color), var(--dark-border-color));
}

.acciones {

  white-space: nowrap;
  > i {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
  }
  
}

.mostrar-mas {
  border-radius: 4rem;
  background-color: var(--logo-color);
}

/* TABLAS */

th {
  background-color: var(--bs-light-rgb) !important;
  border-top: 1px solid light-dark(var(--light-border-color), var(--dark-border-color));
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem !important;
}

tbody td {
  padding: 2rem !important;
  font-size: 2rem;
  cursor: pointer;
}

.ok {
  color: var(--success-color);
}

.ko {
  color: var(--fail-color);
}

/********************* FORMS ********************************/

.filtro {
  border: 1px solid light-dark(var(--light-border-color), var(--dark-border-color));
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  margin-bottom: 6rem;
}

.btn-nuevo {
  background-color: var(--logo-color);
  color: var(--light-txt-color);
  &:hover,
  &:active {
    background-color: var(--logo-accent-color) !important;
    color: var(--light-txt-color);
  }
  padding: 1rem;
  font-size: 1.6rem !important;
}

form,
.form-control,
.btn {
  font-size: 2rem;
}

.btn {
  padding: 1rem;
}

form input + div,
form select + div {
  height: 3rem;
}

.form-select {
  font-size: 1.6rem;
  background-color: light-dark(var(--light-background), var(--dark-bg-color)) !important;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color)) !important;
}

/* Tablas angular material */

td {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mat-mdc-row:hover {
  background-color: light-dark(var(--light-accent-bg-color), var(--dark-accent-bg-color)) !important;
  color: var(--dark-txt-color) !important;
}

.mat-mdc-row:nth-child(odd) {
  background-color: light-dark(var(--light-background), var(--dark-background));
}
.mat-mdc-row:nth-child(even) {
  background-color: light-dark(var(--light-background), var(--dark-background));
}

.mat-mdc-header-cell {
  background-color: light-dark(var(--dark-background), var(--dark-bg-color)) !important;
  color: light-dark(var(--light-txt-color), var(--light-txt-color)) !important;
  border-top: 1px solid light-dark(var(--light-border-color), var(--dark-border-color));
  font-weight: 500;
  font-size: 2rem;
  padding: 2rem !important;
}

mat-paginator, mat-select, mat-option, .mat-mdc-select-value-text {
  font-size: 1.6rem !important;
}


/******************** TOAST ******************/

.toast-wrapper {
  bottom: 20%;
  z-index: 4000;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-self: end;
}

/* Tarjeta base */
.toast-card {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 90%;
  max-width: 420px;

  padding: 1rem 1.5rem;
  border-radius: 12px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  border-left: 4px solid transparent;

  animation: toastFly 0.3s ease-out;
}

/* Icono */
.toast-icon i {
  font-size: 1.6rem;
}

/* Texto */
.toast-text {
  font-size: 2rem;
  color: black;
}

/* Bordes laterales según tipo */
.toast-success {
  border-left-color: var(--success-color);
}
.toast-error {
  border-left-color: var(--fail-color);
}

/* Animación tipo Svelte fly */
@keyframes toastFly {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/******************* MODAL *************************/

.modal-content {
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color)) !important;
  color: light-dark(var(--dark-txt-color), var(--light-txt-color)) !important;
}
