<div class="atras" (click)="atras()">
  <i class="bi bi-arrow-left"></i> Atrás
</div>


<div class="item-detallado card border rounded p-3 shadow-sm">
  
  <app-loading [show]="loadingDetalle()"></app-loading>

  <div class="card-body">
    <div class="d-flex justify-content-between">
      <div>
        <div class="d-flex">
          <div>
            <i class="icono-proyecto bi bi-file-earmark-code"></i>
          </div>

          <div>
            <div class="d-flex align-items-start">
              <h1 class="card-title">
                {{ proyecto()?.name }}
              </h1>
              <span class="badge mt-2 ms-3 fs-5"
                [ngClass]="{
                  'bg-success': proyecto()?.status === 'active',
                  'bg-warning': proyecto()?.status === 'archived',
                  'bg-danger': proyecto()?.status === 'inactive'
                }">
                {{ proyecto()?.status | uppercase }}
              </span>
            </div>

            <p>{{ proyecto()?.description }}</p>

            <p class="fs-5 mb-0">
              <span title="Creado"><i class="bi bi-rocket-takeoff"></i> {{ proyecto()?.created_at | date:'short' }}</span>
              <span title="Actualizado"><i class="bi bi-stopwatch ms-4"></i> {{ proyecto()?.updated_at | date:'short' }}</span>
            </p>
          </div>
        </div>
      </div>
      <!-- Acciones -->
      @if (role() !== 'tester') {
        <div class="acciones">
          <i class="bi bi-pencil fs-3 text-primary" (click)="editarProyecto()" data-bs-toggle="modal"
              data-bs-target="#detalleModal" title="Editar proyecto"></i>
          <i class="bi bi-trash fs-3 text-danger" (click)="eliminarProyecto()" title="Eliminar proyecto"></i>
        </div>
      }
    </div>
    
  </div>

</div>

<!-- Sección tabs con listados -->
<section>

  <!-- Pestañas -->
  <nav class="mt-5">
    <div class="nav nav-pills" id="nav-tab" role="tablist">
      <div class="menu-pildoras d-flex p-2">

        <button class="nav-link fs-4  mx-1 text-dark active" id="nav-usuarios-tab" data-bs-toggle="tab" data-bs-target="#nav-usuarios" type="button" role="tab" aria-controls="nav-usuarios" aria-selected="true">
          <i class="bi bi-person-circle"></i> Usuarios
        </button>

        <button class="nav-link text-dark mx-1 fs-4" id="nav-versiones-tab" data-bs-toggle="tab" data-bs-target="#nav-versiones" type="button" role="tab" aria-controls="nav-versiones" aria-selected="false">
          <i class="bi bi-box-seam"></i> Versiones
        </button>

        <button class="nav-link text-dark mx-1 fs-4" id="nav-pruebas-tab" data-bs-toggle="tab" data-bs-target="#nav-pruebas" type="button" role="tab" aria-controls="nav-pruebas" aria-selected="false">
          <i class="bi bi-clipboard2-check"></i> Pruebas
        </button>

        <button class="nav-link text-dark mx-1 fs-4" id="nav-ejecuciones-tab" data-bs-toggle="tab" data-bs-target="#nav-ejecuciones" type="button" role="tab" aria-controls="nav-ejecuciones" aria-selected="false">
          <i class="bi bi-check2-circle"></i> Ejecuciones
        </button>

      </div>
    </div>
  </nav>

  <!-- Contenidos de pestañas -->

  <div class="tab-content pt-4" id="nav-tabContent">

    <!-- USUARIOS -->
    <div class="tab-pane fade show active" id="nav-usuarios" role="tabpanel" aria-labelledby="nav-usuarios-tab" tabindex="0">
      <app-loading [show]="loadingDetalle()"></app-loading>
      <div class="d-flex justify-content-between align-items-end mb-3">
        <h2>Usuarios asociados al proyecto</h2>
        @if (role() !== 'tester') {
        <button type="button"
            class="btn btn-nuevo"
            data-bs-toggle="modal"
            data-bs-target="#detalleModal"
            (click)="abrirAsociarUsuario(this.proyectoId()!)">
          <i class="bi bi-plus-lg"></i> Asociar nuevo usuario
        </button>
        }
      </div>
      

      @if(usuarios.length) {
      
        <div class="card shadow-sm">
          <ul class="list-group list-group-flush">
            @for (u of (mostrarTodosUsuarios ? usuarios : usuarios.slice(0,3)); track u) {
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="contenido-list-item">
                    <strong>{{ u.name }}</strong>
                    <span class="text-muted">
                      ({{ u.rol }})
                    </span>
                  </div>

                  <!-- Acciones -->
                  @if (role() === 'admin') {
                  <div class="acciones">
                    <i class="bi bi-trash fs-3 text-danger" (click)="disociarUsuario(u.id)" title="Eliminar usuario del proyecto"></i>
                  </div>
                  }
                </div>
              </li>
            }
          </ul>
        </div>

        @if (usuarios.length > 3) {
          <div class="d-flex justify-content-center">
            <button class="btn btn-nuevo rounded-pill px-4 my-5" (click)="mostrarTodosUsuarios = !mostrarTodosUsuarios">
              {{ mostrarTodosUsuarios ? 'Mostrar menos' : 'Mostrar todo' }}
              <i class="align-self-end bi"
                [ngClass]="mostrarTodosUsuarios ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"></i>
            </button>
          </div>
        }
      } @else {
        <div class="d-flex flex-column align-items-center justify-content-center mb-5">
          <img [src]="imgComponent.randomImgNoResults" class="img-fluid" alt="Sin resultados">
        </div>
      }
    </div>

    <!-- VERSIONES -->
    <div class="tab-pane fade" id="nav-versiones" role="tabpanel" aria-labelledby="nav-versiones-tab" tabindex="1">

      <div class="d-flex justify-content-between align-items-end mb-3">
        <h2>Versiones del proyecto</h2>
      @if (role() !== 'tester') {
        <button type="button"
          class="btn btn-nuevo"
          data-bs-toggle="modal"
          data-bs-target="#detalleModal"
          (click)="abrirNuevaVersion()">
          <i class="bi bi-plus-lg"></i> Añadir versión
        </button>
      }
      </div>

      @if(versiones.length) {
      
        <div class="card shadow-sm">
          <ul class="list-group list-group-flush">
            @for (v of (mostrarTodasVersiones ? versiones : versiones.slice(0,3)); track v.id) {
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="contenido-list-item">
                    <strong>{{ v.version_number }}</strong>
                    <span class="text-muted">
                      ({{ v.release_date | date:'shortDate' }})
                    </span>

                    <p class="mb-0">{{ v.description }}</p>
                  </div>

                  <!-- Acciones -->
                  @if (role() !== 'tester') {
                    <div class="acciones">
                      <i class="bi bi-pencil fs-3 text-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#detalleModal"
                        (click)="editarVersion(v.id)" title="Editar versión">
                      </i>
                      <i class="bi bi-trash fs-3 text-danger" (click)="eliminarVersion(v.id)" title="Eliminar versión"></i>
                    </div>
                  }
                </div>
              </li>
            }
          </ul>
        </div>

        @if (versiones.length > 3) {
          <div class="d-flex justify-content-center">
            <button class="btn btn-nuevo rounded-pill px-4 my-5" (click)="mostrarTodasVersiones = !mostrarTodasVersiones">
              {{ mostrarTodasVersiones ? 'Mostrar menos' : 'Mostrar todo' }}
              <i class="bi"
                [ngClass]="mostrarTodasVersiones ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"></i>
            </button>
          </div>
        }
      } @else {
        <div class="d-flex flex-column align-items-center justify-content-center mb-5">
          <img [src]="imgComponent.randomImgNoResults" class="img-fluid" alt="Sin resultados" width="394" height="431">
          
        </div>
      }
    </div>

    <!-- PRUEBAS -->
    <div class="tab-pane fade" id="nav-pruebas" role="tabpanel" aria-labelledby="nav-pruebas-tab" tabindex="2">

      <div class="d-flex justify-content-between align-items-end mb-3">
        <h2>Casos de prueba asociados al proyecto</h2>
        <button type="button"
          class="btn btn-nuevo"
          data-bs-toggle="modal"
          data-bs-target="#detalleModal"
          (click)="abrirAsociarPrueba(this.proyectoId()!)">
          <i class="bi bi-plus-lg"></i> Asociar nueva prueba
        </button>
      </div>

      @if(pruebas.length) {

        <div class="card shadow-sm">
          <ul class="list-group list-group-flush">
            @for (p of (mostrarTodasPruebas ? pruebas : pruebas.slice(0,3)); track p) {
              <li class="list-group-item">
                <div class="d-flex">
                  <div class="contenido-list-item">
                    <strong>{{ p.title }}</strong>
                    <span class="text-muted">
                      ({{ p.objective }}) – En la versión: {{ p.version_number }}
                    </span>

                  </div>

                  <!-- Acciones -->
                  
                  <div class="acciones">
                    <i class="bi bi-clipboard2-check fs-3 text-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#detalleModal"
                      (click)="abrirNuevaEjecucion(p.version_id, p.id)"
                      title="Registrar ejecución">
                    </i>
                    @if (role() !== 'tester') {
                      <i class="bi bi-trash fs-3 text-danger" (click)="disociarPruebaDeVersion(p.version_id, p.id)" title="Eliminar prueba del proyecto"></i>
                    }
                  </div>
                  
                </div>
              </li>
            }
          </ul>
        </div>

        @if (pruebas.length > 3) {
          <div class="d-flex justify-content-center">
            <button class="btn btn-nuevo rounded-pill px-4 my-5" (click)="mostrarTodasPruebas = !mostrarTodasPruebas">
              {{ mostrarTodasPruebas ? 'Mostrar menos' : 'Mostrar todo' }}
              <i class="bi"
                [ngClass]="mostrarTodasPruebas ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"></i>
            </button>
          </div>
        }
      } @else {
        <div class="d-flex flex-column align-items-center justify-content-center mb-5">
          <img [src]="imgComponent.randomImgNoResults" class="img-fluid" alt="Sin resultados" width="394" height="431">
          
        </div>
      }

    </div>

    <!-- EJECUCIONES -->
    <div class="tab-pane fade" id="nav-ejecuciones" role="tabpanel" aria-labelledby="nav-ejecuciones-tab" tabindex="3">

      <div class="d-flex justify-content-between align-items-end my-3">
        <h2>Ejecuciones de pruebas del proyecto</h2>
      </div>

      @if(ejecuciones.length) {

        <div class="card shadow-sm">
          <ul class="list-group list-group-flush">
            @for (e of (mostrarTodasEjecuciones ? ejecuciones : ejecuciones.slice(0,3)); track e) {

              <li class="list-group-item">
                <div class="d-flex">
                  <div class="contenido-list-item">

                    <!-- Título del caso de prueba -->
                    <strong>{{ e.test_case.title }}</strong>

                    <!-- Resultado -->
                    <span class="badge ms-2"
                          [ngClass]="{
                            'bg-success': e.result === 'passed',
                            'bg-danger': e.result === 'failed'
                          }">
                      {{ e.result | uppercase }}
                    </span>

                    <!-- Usuario -->
                    <p class="mb-0">
                      <small class="text-muted">
                        Ejecutado por: {{ e.user.name }}
                      </small>
                    </p>

                    <!-- Fecha -->
                    <small class="text-muted">
                      {{ e.executed_at | date:'short' }}
                    </small>

                    <!-- Comentario -->
                    <p class="mt-1 mb-0"><em>{{ e.comment }}</em></p>

                    <!-- Estado de error -->
                    <small 
                      class="fw-semibold"
                      [ngClass]="{
                        'text-danger': e.error_status === 'critical',
                        'text-warning': e.error_status === 'high',
                        'text-info': e.error_status === 'low',
                        'text-success': e.error_status === 'none'
                      }"
                    >
                      <i class="bi bi-exclamation-circle-fill"></i>
                      Error: {{ e.error_status }}
                    </small>

                  </div>

                  <!-- Acciones -->
                  @if (role() !== 'tester') {
                    <div class="acciones">
                      <i class="bi bi-pencil fs-3 text-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#detalleModal"
                        (click)="editarEjecucion(e.id, e.test_case.id, e.version_id)" title="Editar ejecución">
                      </i>
                      <i class="bi bi-trash fs-3 text-danger" (click)="eliminarEjecucion(e.id)" title="Eliminar ejecución"></i>
                    </div>
                  }
                </div>
              </li>
            }
          </ul>
        </div>
        @if(ejecuciones.length > 3) {
          <div class="d-flex justify-content-center">
            <button class="btn btn-nuevo rounded-pill px-4 my-5" (click)="mostrarTodasEjecuciones = !mostrarTodasEjecuciones">
              {{ mostrarTodasEjecuciones ? 'Mostrar menos' : 'Mostrar todo' }}
              <i class="bi"
                [ngClass]="mostrarTodasEjecuciones ? 'bi-caret-up-fill' : 'bi-caret-down-fill'"></i>
            </button>
          </div>
        }
      } @else {
        <div class="d-flex flex-column align-items-center justify-content-center mb-5">
          <img [src]="imgComponent.randomImgNoResults" class="img-fluid" alt="Sin resultados" width="394" height="431">
          
        </div>
      } 
    </div>
  </div>

  <!-- MODALES -->
  <app-modal-detail [title]="this.tituloModalDetail">

    @if(this.modal == 'proyecto') {
      <app-proyecto-new
        [proyecto]="proyecto()"
        (proyectoChange)="proyectoChange($event)"
        [proyectoId]="proyectoId()"
        [modo]="modo">
      </app-proyecto-new>
    }

<!-- 
    @if (this.nuevoUser && userSelId() === null) {
      <app-usuario-detail [(listado)]="this.usuarios" (listadoUsuariosChange)="listadoUsuariosChange($event)" [usuarioId]="null" [modo]="'nuevo'"></app-usuario-detail>
    } @else if (userSelId()) {
      <app-usuario-detail [(listado)]="this.usuarios" [usuarioId]="userSelId()" (listadoUsuariosChange)="listadoUsuariosChange($event)" [modo]="'detalle'"></app-usuario-detail>
    } -->

    
    @if (this.tituloModalDetail === 'Asociar usuario al proyecto' && this.modal == 'usuario') {
      <app-proyecto-link-user 
        [(listado)]="this.usuarios" 
        (listadoUsuariosChange)="listadoUsuariosChange($event)"
        [proyectoId]="this.proyectoId()">
      </app-proyecto-link-user>
    }

    <!-- @if (!this.nuevaVersion){
      <app-proyecto-new [(listado)]="this.proyectos" [proyectoId]="this.proyectoId()" [modo]="'editar'"></app-proyecto-new>
    }

    @if (this.nuevaVersion && versionSelId() === null) {
      <app-version-detail [(listado)]="this.versiones" (listadoVersionesChange)="listadoVersionesChange($event)" [versionId]="null" [projectId]="this.proyectoId()" [modo]="'nuevo'"></app-version-detail>
    } @else if (userSelId()) {
      <app-version-detail [(listado)]="this.versiones" [versionId]="versionSelId()" (listadoUsuariosChange)="listadoVersionesChange($event)" [modo]="'detalle'"></app-version-detail>
     -->
    
      @if(this.modal == 'version') {
      <app-version-detail
        [(listado)]="this.versiones"
        (listadoVersionesChange)="listadoVersionesChange($event)"
        [versionId]="versionSelId"
        [projectId]="proyectoId()"
        [modo]="modo">
      </app-version-detail>
    }

    @if (modal === 'prueba') {
      <app-proyecto-link-testcase
        [(listado)]="pruebas"
        [versiones]="versiones"
        >
      </app-proyecto-link-testcase>
    }

    <!-- @if (this.nuevaPrueba && pruebaSelId() === null) {
      <app-prueba-detail [(listado)]="this.pruebas" (listadoPruebasChange)="listadoPruebasChange($event)" [pruebaId]="null" [modo]="'nuevo'"></app-prueba-detail>
    } @else if (pruebaSelId()) {
      <app-prueba-detail [(listado)]="this.pruebas" (listadoPruebasChange)="listadoPruebasChange($event)" [pruebaId]="pruebaSelId()" [modo]="'detalle'"></app-prueba-detail>
    } -->

    @if(this.modal == 'ejecucion') {
      <app-ejecucion-detail
        [(listado)]="this.ejecuciones"
        (listadoEjecucionesChange)="listadoEjecucionesChange($event)"
        [userId]="this.usuarioEditor"
        [pruebaId]="this.pruebaSelId"
        [versionId]="this.versionSelId"
        [ejecucionId]="this.ejecucionSelId()"
        [modo]="this.modo">
      </app-ejecucion-detail>
    }

    <!-- @if (this.nuevaEjecucion && ejecucionSelId === null) {
      <app-ejecucion-detail [(listado)]="this.ejecuciones" (listadoUsuariosChange)="listadoEjecucionesChange($event)" [usuarioId]="null" [modo]="'nuevo'"></app-ejecucion-detail>
    } @else if (userSelId()) {
      <app-ejecucion-detail [(listado)]="this.ejecuciones" [ejecucionId]="ejecucionSelId" (listadoUsuariosChange)="listadoEjecucionesChange($event)" [modo]="'detalle'"></app-ejecucion-detail>
    } -->

  </app-modal-detail>


<app-img #imgComponent></app-img>
</section>

