<div id="formWrapper" class="d-flex m-auto p-5 border">

  <form id="formLogin" [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column p-3">
    <div class="d-flex justify-content-center mb-5">
      <img src="img/testlab-logo.png" class="mb-4">
    </div>
    
    <div class="mb-4" [class.was-validated]="this.form.get('email')?.dirty || this.form.get('email')?.touched">
      <span>
        <i class="bi bi-person-fill"></i>
      </span>
      <input id="email" name="email" type="email" class="form-control" formControlName="email" [class.invalid]="this.form.get('email')?.invalid" required>
      <div>
        @if (
              this.form.get('email')?.invalid && 
              (this.form.get('email')?.dirty || this.form.get('email')?.touched)
            ) 
        {
          <div class="invalid-feedback d-block m-0 fs-4 py-2">
            Inserte un correo válido
          </div>
        }
      </div>
    </div>
    <div class="mb-4" [class.was-validated]="this.form.get('password')?.dirty || this.form.get('password')?.touched">
      <span>
        <i class="bi bi-lock-fill"></i>
      </span>
      <input type="password" name="password" class="form-control" formControlName="password" required>
      <div>
        @if (
              this.form.get('password')?.invalid && 
              (this.form.get('password')?.dirty || this.form.get('password')?.touched)
            ) 
        {
          <div class="invalid-feedback d-block m-0 fs-4 py-2">
            Inserte una contraseña
          </div>
        }
      </div>
    </div>
    <button type="submit" class="btn w-100 p-3 mt-3" [disabled]="form.invalid">Iniciar sesión</button>
    <div class="text-danger">{{ error }}</div>
    
  </form>
</div>

<div class="login-background">

  <div class="olas" style="overflow: hidden">
      <svg class="ola ola-1" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="400" fill="url(#bg-ola)"></rect>
      </svg>
      <svg class="ola ola-2" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="400" fill="url(#bg-ola2)"></rect>
      </svg>
      <svg class="ola ola-3" xmlns="http://www.w3.org/2000/svg">
          <rect width="100%" height="400" fill="url(#bg-ola)"></rect>
      </svg>
  </div>

  <svg id="ola-pattern" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="position: absolute; z-index: -10;">
    <defs>
      <pattern class="ola-pattern ola-color" id="bg-ola" patternUnits="userSpaceOnUse" width="1000" height="400">
          <path d="M1484.98 0.0853853C1402.51 2.28495 1322.66 46.58 1242.81 90.875C1160.9 136.313 1078.98 181.75 994.246 181.75C909.509 181.75 827.597 136.313 745.685 90.875C663.772 45.4375 581.86 0 497.123 0C412.387 0 330.474 45.4375 248.562 90.875C166.65 136.313 84.7374 181.75 0.000428317 181.75L0 399.765C82.4694 397.566 162.322 353.271 242.175 308.976C324.087 263.538 405.999 218.101 490.736 218.101C575.473 218.101 657.385 263.538 739.298 308.976C821.21 354.413 903.122 399.851 987.859 399.851C1072.6 399.851 1154.51 354.413 1236.42 308.976C1318.33 263.538 1400.25 218.101 1484.98 218.101L1484.98 0.0853853Z"></path>
      </pattern>
      <pattern class="ola-pattern ola-color-2" id="bg-ola2" patternUnits="userSpaceOnUse" width="1000" height="400">
          <path d="M1484.98 0.0853853C1402.51 2.28495 1322.66 46.58 1242.81 90.875C1160.9 136.313 1078.98 181.75 994.246 181.75C909.509 181.75 827.597 136.313 745.685 90.875C663.772 45.4375 581.86 0 497.123 0C412.387 0 330.474 45.4375 248.562 90.875C166.65 136.313 84.7374 181.75 0.000428317 181.75L0 399.765C82.4694 397.566 162.322 353.271 242.175 308.976C324.087 263.538 405.999 218.101 490.736 218.101C575.473 218.101 657.385 263.538 739.298 308.976C821.21 354.413 903.122 399.851 987.859 399.851C1072.6 399.851 1154.51 354.413 1236.42 308.976C1318.33 263.538 1400.25 218.101 1484.98 218.101L1484.98 0.0853853Z"></path>
      </pattern>
    </defs>
  </svg>

</div>

<app-loading [show]="_spinnerService.loading()"></app-loading>
